

.popup-box{

  margin-top: 0;
  margin-left: 0;

}


.popup-text{
  color: #f1a0ae;
  font-weight: bold;
  display:inline-block;
  margin-left: 20px;
  margin-bottom:0 ;
}



.close {  
  cursor: pointer;  
  position: absolute;  
  display: block;  
  padding: 2px 5px;  
  line-height: 20px;  
  right: -10px;  top: -10px;  
  font-size: 24px;  
  background: #ffffff;  
  border-radius: 18px;  
  text-decoration: none;
  border: 1px solid #cfcece;
}


